body {
    background-color: #f8fafc;
    margin: 0;
}
header {
    background-color: white;
    margin-bottom: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    &-title {
        line-height: 2.5;
    }
    &-nav {
        list-style: none;
        padding: 0;
        & > li {
            display: inline-block;
            margin-right: 15px;
            &:last-of-type {
                margin: 0;
            }
            & > a {
                text-decoration: none;
                color: gray;
            }
        }
    }
}

.button {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
}

.is-info {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
}

.danger-input {
    border-color: hsl(348, 100%, 61%);
}

.checkbox {
    margin-right: 10px;
}

.error-msg {
    margin: 0;
    text-align: right;
    color: hsl(348, 100%, 61%);
}
